.input-container{
    display: flex;
    /*justify-content: center;*/
    align-items: flex-start;
    margin: 0 40px;
}

/*.asking-for{*/
/*    float: left;*/
/*    margin: 5px 7px;*/
/*}*/

.cred-input{
    /*float: right;*/
    margin: 5px 0;
}

input[type="text"],
textarea {
    display: flex;
    width: 50%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
#addButton{
    border: 2px solid black;
    text-shadow: whitesmoke 0 1px 3px;
    background-color: #82ee57;
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 15px 0 0;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
    input[type="text"], textarea{
        padding: 5px;
        margin: 2px 0;
        width: 100%;
    }
}
