@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

body {
  font-family: Rubik, sans-serif, Arial;
  background: beige;
}

h3 {
  color: beige;
  font-size: 1.75em;
}

.welcome {
  max-width: 750px;
  height: 50vh;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 25px 5px;
  border-radius: 5px;
  background: url("../img/chalkboardImgB.png") no-repeat;
  background-size: 100% 100%;
}

.user-creds {
  max-width: 750px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
  padding: 25px 5px;
  border-radius: 5px;
  background: url("../img/chalkboardImg.png") no-repeat;
  background-size: 100% 100%;
}

.within-cover {
  position: relative;
  top: -50px;
}

.to-login,
button {
  border: 2px solid black;
  text-shadow: lightslategrey 0 1px 3px;
  background-color: #82ee57;
  font-weight: bolder;
  padding: 5px 25px;
  border-radius: 20px;
  text-decoration: none;
  margin: 15px;
  color: black;
}

.logo img {
  max-width: 370px;
  height: auto;
  margin: 0 auto;
}

.logo img:hover {
  filter: drop-shadow(0 5px 0.75rem #ecec3e);
}

.logo-div {
  font-size: 2.5em;
  text-align: center;
  margin: 10px auto;
}

.cred-input {
  display: inline-block;
  padding: 15px 100px 15px 20px;
  border-radius: 10px;
  margin: 30px 10px;
  box-sizing: inherit;
}

input:focus {
  border: 2px solid black;
}

button:hover,
.to-login:hover {
  background-color: forestgreen;
}

@media screen and (max-width: 1052px) {
  .outside {
    display: none;
  }

  .logo .inside {
    width: 10vw;
  }

  .user-creds {
    padding: 300px 200px;
    display: inline-block;
    height: auto;
  }

  .asking-for {
    display: block;
    text-align: center;
    clear: both;
    color: whitesmoke;
    font-size: 1.5em;
    margin: 0 0 5px;
  }

  .asking-for:first-child {
    margin: 20px 0 0;
  }

  .cred-input {
    font-size: 1.4em;
  }

  button {
    padding: 10px 20px;
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1053px) {
  .outside {
    display: inline;
  }

  .asking-for,
  .inside {
    display: none;
  }

  .cred-input {
    padding: 5px;
    width: 60%;
    margin: 10px 0;
    font-size: 1.2em;
  }

  .user-creds {
    padding: 100px 0 0;
    margin: 0 auto;
    display: block;
    height: 50vh;
  }

  .user-creds:first-child {
    margin: 0;
  }
}
